[submodule "SpotifyControl"]
	path = SpotifyControl
	url = https://github.com/dronir/SpotifyControl.git
[submodule "static/Semantic-UI"]
	path = static/Semantic-UI
	url = https://github.com/Semantic-Org/Semantic-UI.git
